@font-face {
    font-family: biggerside;
    src: url(/BigersideExpanded-7O9Z4.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #000f1b;
    position: relative;
}
#name{
    color: white;
    width: 650px;
    height: 80px;
    position: absolute;
    top: 280px;
    left: 200px;
    font-size: 50px;
    font-family: "biggerside";
}
#effect{
    width: 50%;
    height: 50px;
    color: white;
    position: absolute;
    top: 350px;
    left: 215px;
    font-size: 25px;
    font-family: "biggerside";
}
#typewrite{
    color: rgba(67, 206, 95, 0.67);
    border: transparent dotted 2px;
    box-shadow: #ffff;
    animation: animate 50ms ease-in-out infinite alternate; 
}
@keyframes animate{
    0%{
        text-shadow: 0 0 20px rgba(67, 206, 95, 0.67);
    }
    100%{
        text-shadow: 0 0 30px rgba(67, 206, 95, 0.67);
        
    }
}
#bar{
    width: 1005;
    height: 50px;
    position: absolute;
    top: 450px;
    left: 150px;
    display: flex;
}
#items{
    color: white;
}
#items a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 22px;
    transition: color ease-in 0.2s;
}
#items a:hover{
    color: rgb(196, 80, 80);
}
#links{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 450px;
    left: 220px;
}
#git{
    background-image: url(/1.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-top: 80px;
}
#link{
    background-image: url(/3.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    top: -28px;
    left: 50px;
}
#gmail{
    background-image: url(/2.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    top: -57px;
    left: 99px;
}